<div fxLayoutGap="15px" class="all-page gray" fxLayout="column" fxLayoutAlign="center center">
    <mat-card [formGroup]="form" fxLayout="column" fxLayoutGap="15px">
        <mat-card-title>
            Sample speech to text - Sample using Angular Form
        </mat-card-title>
        <div fxLayout>
            <textarea fxFlex="100" formControlName="text" getValueFromSpeech>
            </textarea>
        </div>
        <button mat-raised-button color="primary" (click)="save(containerFormat)">Guardar</button>
    </mat-card>
    <mat-card>
        <mat-card-title>Form value:</mat-card-title>
        <pre>
                <code #containerFormat></code>
            </pre>
    </mat-card>

    <!-- <div>
            <p>Is valid : {{ form.valid }}</p>
             <p>Form validation:</p>
                <pre>
                 
                          'text': ['', [
                            Validators.required,
                            Validators.minLength(2),
                            Validators.maxLength(10)
                          ]]
                        
                </pre>
              <p>Form value:</p>
                <pre>
                    {{ form.value | json }}
                </pre>
        </div>-->
</div>