/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    padding:0;
    margin:0;
}
.all-page{
    width:100vw;
    height:100vh;
}

.gray{
    background-color: #f5f5f5;
}